<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>soldier</display-name>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <!-- list of classes accessing by pair of class and action, if has (up.)* - decorating class for (up.)*-1 -->
        <servlet-class>ncl.military.controller.ControllerServlet</servlet-class>
        <init-param>
            <param-name>/viewSoldiers:getTop</param-name>
            <param-value>ncl.military.controller.handle.executors.TopOfSoldiersGetter</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers:getSubsOfSoldier</param-name>
            <param-value>ncl.military.controller.handle.executors.SubsOfSoldierGetter</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers:getSearchResults</param-name>
            <param-value>ncl.military.controller.handle.executors.SoldierSearcher</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers:getSoldiersOfUnit</param-name>
            <param-value>ncl.military.controller.handle.executors.AllSoldiersOfUnitGetter</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers:addSoldier</param-name>
            <param-value>ncl.military.controller.handle.executors.SoldierAdder</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers:moveSoldier</param-name>
            <param-value>ncl.military.controller.handle.executors.SoldierMover</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers:moveUnderThisSoldier</param-name>
            <param-value>ncl.military.controller.handle.executors.SoldierChanger</param-value>
        </init-param>
        <init-param>
            <param-name>up./viewSoldiers:moveUnderThisSoldier</param-name>
            <param-value>ncl.military.controller.handle.executors.SoldierOnMoveChanger</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers:editSoldier</param-name>
            <param-value>ncl.military.controller.handle.executors.SoldierChanger</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers:deleteSoldier</param-name>
            <param-value>ncl.military.controller.handle.executors.SoldierDeletter</param-value>
        </init-param>
        <init-param>
            <param-name>/viewUnits:getAll</param-name>
            <param-value>ncl.military.controller.handle.executors.AllUnitsGetter</param-value>
        </init-param>
        <init-param>
            <param-name>/viewUnits:getUnitsOfLocations</param-name>
            <param-value>ncl.military.controller.handle.executors.AllUnitsOfLocationGetter</param-value>
        </init-param>
        <init-param>
            <param-name>/viewUnits:editUnit</param-name>
            <param-value>ncl.military.controller.handle.executors.UnitChanger</param-value>
        </init-param>
        <init-param>
            <param-name>/viewLocations:getAll</param-name>
            <param-value>ncl.military.controller.handle.executors.AllLocationsGetter</param-value>
        </init-param>
        <init-param>
            <param-name>/viewLocations:editLocation</param-name>
            <param-value>ncl.military.controller.handle.executors.LocationChanger</param-value>
        </init-param>
        <init-param>
            <param-name>/viewLocations</param-name>
            <param-value>/viewLocations.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>/viewUnits</param-name>
            <param-value>/viewUnits.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers</param-name>
            <param-value>/viewSoldiers.jsp</param-value>
        </init-param>
        <!-- list of jsp-views for every action -->
        <init-param>
            <param-name>:editSoldier</param-name>
            <param-value>/editorSoldier.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:editUnit</param-name>
            <param-value>/editorUnit.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:editLocation</param-name>
            <param-value>/editorLocation.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:addSoldier</param-name>
            <param-value>/editorSoldier.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:getSubsOfSoldier</param-name>
            <param-value>/viewSoldiers.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:getTop</param-name>
            <param-value>/viewSoldiers.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:getSearchResults</param-name>
            <param-value>/viewSoldiers.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:moveUnderThisSoldier</param-name>
            <param-value>/editorSoldier.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:deleteSoldier</param-name>
            <param-value>/viewSoldiers.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:getSoldiersOfUnit</param-name>
            <param-value>/viewSoldiers.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>:getUnitsOfLocations</param-name>
            <param-value>/viewUnits.jsp</param-value>
        </init-param>
        <!-- list of actions by default of path -->
        <init-param>
            <param-name>/viewLocations:</param-name>
            <param-value>getAll</param-value>
        </init-param>
        <init-param>
            <param-name>/viewUnits:</param-name>
            <param-value>getAll</param-value>
        </init-param>
        <init-param>
            <param-name>/viewSoldiers:</param-name>
            <param-value>getTop</param-value>
        </init-param>
        <!-- list of special views -->
        <init-param>
            <param-name>view=error</param-name>
            <param-value>/error.jsp</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/viewSoldiers</url-pattern>
        <url-pattern>/viewUnits</url-pattern>
        <url-pattern>/viewLocations</url-pattern>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
                          <!--
    <resource-ref>
        <description>SoldierDB</description>
        <res-ref-name>jdbc/soldier</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>    -->

    <listener>
        <listener-class>ncl.military.controller.Log4jInit</listener-class>
    </listener>

    <context-param>
        <param-name>jndiPath</param-name>
        <param-value>java:/jdbc/soldier</param-value>
    </context-param>
    <context-param>
        <param-name>debugMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>daoModule</param-name>
        <param-value>ncl.military.dao.modules.OracleModule</param-value>
    </context-param>

    <jsp-config>
        <jsp-property-group>
            <description>JSP config for pages</description>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/jspf/header.jspf</include-prelude>
            <include-coda>/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>

    <!-- list of all actions -->
    <!-- common actions -->
    <context-param>
        <param-name>action_GET_ALL</param-name>
        <param-value>getAll</param-value>
    </context-param>
    <context-param>
        <param-name>action_GET_TOP</param-name>
        <param-value>getTop</param-value>
    </context-param>
    <context-param>
        <param-name>action_EDIT_SOLDIER</param-name>
        <param-value>editSoldier</param-value>
    </context-param>
    <context-param>
        <param-name>action_EDIT_UNIT</param-name>
        <param-value>editUnit</param-value>
    </context-param>
    <context-param>
        <param-name>action_EDIT_LOCATION</param-name>
        <param-value>editLocation</param-value>
    </context-param>
    <context-param>
        <param-name>action_GET_SEARCH_RESULTS</param-name>
        <param-value>getSearchResults</param-value>
    </context-param>
    <!-- list of soldier actions -->
    <context-param>
        <param-name>action_GET_SUBS_OF_SOLDIER</param-name>
        <param-value>getSubsOfSoldier</param-value>
    </context-param>
    <context-param>
        <param-name>action_ADD_SOLDIER</param-name>
        <param-value>addSoldier</param-value>
    </context-param>
    <context-param>
        <param-name>action_DELETE_SOLDIER</param-name>
        <param-value>deleteSoldier</param-value>
    </context-param>
    <context-param>
        <param-name>action_MOVE_SOLDIER</param-name>
        <param-value>moveSoldier</param-value>
    </context-param>
    <context-param>
        <param-name>action_MOVE_UNDER_THIS_SOLDIER</param-name>
        <param-value>moveUnderThisSoldier</param-value>
    </context-param>
    <!-- action for units -->
    <context-param>
        <param-name>action_GET_SOLDIERS_OF_UNIT</param-name>
        <param-value>getSoldiersOfUnit</param-value>
    </context-param>
    <!-- action for locations -->
    <context-param>
        <param-name>action_GET_UNITS_OF_LOCATIONS</param-name>
        <param-value>getUnitsOfLocations</param-value>
    </context-param>
</web-app>
